
#mainContainer{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 500px;
    margin-right: 500px;
}
#newPost,#main{
    border-radius: 5px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 2px solid #cfcdcd;
}
textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #cfcdcd;
}
.col>p,.col>h1 { 
    text-align: center;
    font-weight: bold;
}

#submit{
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#posts{
    border-radius: 5px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 2px solid #cfcdcd;
}

h4{
    margin-bottom: 0px;
}

.content{
    font-size: 30px;
}
.btn {
    width: 100%;
}
.page-item, .like{
    cursor: pointer;
}
.disabled{
    cursor: not-allowed;
    background-color: rgb(184, 178, 178) !important;
}
.date{
    color : rgb(190, 183, 183);
}
.edit{
    cursor: pointer;
    color: rgb(53, 53, 238);
}
.line{
    width: 100%;
    margin-bottom: 2%;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
  color: #f00;
}
.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
  color: #00f;
}