body {
  background-color: #e9f8e9 !important;
}
.transaction,
#mainContainer {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}
select,
input {
  border: 1px solid #97cfa3 !important;
  color: #218838 !important;
}
label,
.fs-4 i {
  color: #218838 !important;
}
.contents {
  width: 100%;
  max-width: 580px;
  margin-right: auto;
  margin-left: auto;
}
.link {
  color: #218838;
}
.link:hover {
  color: #176d29;
  text-decoration: underline;
}
.navbar {
  background-color: #dbfadb !important;
}
.modal,
.navbar-brand {
  color: #218838 !important;
}
.input-group-text {
  color: #218838 !important;
  border: 1px solid #97cfa3 !important;
  background-color: #cdf1d5 !important;
}
.dropdown-menu,
.list-group-item {
  color: #218838 !important;
  border: 1px solid #97cfa3 !important;
}
.nav-pills li .active {
  background-color: #218838 !important;
  color: white !important;
}
.dropdown-item,
.nav-pills li a {
  color: #218838 !important;
}
.title {
  color: #218838;
}
#newPost,
#main {
  width: 100%;
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  /* border: 2px solid #cfcdcd; */
  border: 2px solid #97cfa3;
  background-color: white;
}
@media screen and (max-width: 3440px) {
  #logo {
    position: absolute;
    top: -80px;
    left: 39%;
    border-radius: 50%;
  }
}
@media screen and (max-width: 600px) {
  #logo {
    position: absolute;
    top: -80px;
    left: 35%;
    border-radius: 50%;
  }
}
img {
  width: 150px;
}
#login {
  width: 100%;
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  /* border: 2px solid #cfcdcd; */
  border: 2px solid #97cfa3;
  background-color: white;
}
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #cfcdcd;
}
.col > p,
.col > h1 {
  text-align: center;
  font-weight: bold;
}

#submit {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#posts {
  border-radius: 5px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 2px solid #cfcdcd;
}

h4 {
  margin-bottom: 0px;
}

.content {
  font-size: 30px;
}
.button-container {
  text-align: center;
}
.page-item,
.like {
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
  background-color: rgb(184, 178, 178) !important;
}
.date {
  color: rgb(190, 183, 183);
}
.edit {
  cursor: pointer;
  color: #218838;
}
.line {
  width: 100%;
  margin-bottom: 2%;
  border-bottom: 1px solid rgb(201, 201, 201);
}

.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
  color: #f00;
}
.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
  color: #00f;
}
.dropdown-item:hover,
.list-group-item a:hover,
.list-group-item label:hover,
.list-group-item:hover {
  cursor: pointer;
  /* background-color: #fcfafa; */
  background-color: #e9f8e9 !important;
}

.cstm-mrgn {
  margin-bottom: 30px !important;
  margin-right: 10px !important;
  text-align: center !important;
  font-weight: bold;
}

.cstm-pdng {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.vertical-line {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 50px;
  padding-top: 12px;
  padding-left: 20px;
  margin-left: 100px;
}

.blank-space {
  height: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
ul li {
  display: list-item;
  padding: 5px 10px;
  margin: 0 3px;
}

.center {
  text-align: center;
}

.fs-2 {
  font-size: 1.5rem !important;
}
.fs-3 {
  font-size: 2rem !important;
}

.fs-3 a {
  color: black !important;
}
.fs-3 a:hover {
  color: rgb(88, 86, 86) !important;
}

.badge {
  top: -8px !important;
  right: -8px !important;
}

.lang {
  justify-content: space-between;
}

.footer {
  text-align: center;
  color: rgb(20, 133, 5);
}
