{% extends "network/layout.html" %}

{% block body %}
    <div id="mainContainer">
        <div class="row" id="main">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <h1>{{ username }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col buttonFollow">
                        {% if follow %}
                            <button class="btn btn-info" data-id='{{ userId }}' id="following" onclick="unfollow()">Unfollow</button>
                        {% elif userId != loginUser.id %}
                            <button class="btn btn-info" data-id='{{ userId }}' id="follow" onclick="follow()">Follow</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <p id="postingCount">{{ posting.count }}</p>
                    </div>
                    <div class="col">
                        <p class="followersCount">{{ followers.count }}</p>
                    </div>
                    <div class="col">
                        <p class="followingCount">{{ following.count }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Posts</p>
                    </div>
                    <div class="col">
                        <p>Followers</p>
                    </div>
                    <div class="col">
                        <p>Following</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="allPosts">
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled" id="previous" hidden>
                <input type="button" class="page-link" onclick="page(this.value)" value="Previous" tabindex="-1" aria-disabled="true"></a>
              </li>
              <li class="page-item active"><input type="button" class="page-link" onclick="page(this.value)" value="1"></li>
              <li class="page-item"><input type="button" class="page-link" onclick="page(this.value)" value="2"></li>
              <li class="page-item"><input type="button" class="page-link" onclick="page(this.value)" value="3"></li>
              <li class="page-item" id="next">
                <input type="button" class="page-link" onclick="page(this.value)" value="Next">
              </li>
            </ul>
          </nav>
    </div>
{% endblock %}