{% extends "budgetApp/layout.html" %} 

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block body %}
<div id="mainContainer">
  <div class="row" id="main">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-3" style="max-width: 19%; margin-top: 3px">
          <a class="btn btn-outline-secondary" href="{% url 'settings' %}" role="button" ><i class="bi bi-box-arrow-in-left"></i> Back</a>
        </div>
        <div class="col">
          <h2>Accounts</h2>
        </div>
      </div>
      <a class="list-group-item list-group-item-action inbx-clck cstm-mrgn" href="{% url 'addAccount' %}">New Account</a>
      {% for account in accounts %}
      <div class="dropright">
        <a
          class="list-group-item list-group-item-action inbx-clck {{ account.id }}"
          href="#"
          id="dropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >{{ account.accountName  }} ( {{ account.description }} )</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{% url 'editAccount' account.id %}"
            ><i class="bi bi-pencil"></i> Edit
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#myModal" onclick="deleteAccount(`{{account.id}}`)">
            <i class="bi bi-trash3"></i> Delete</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock %}
</div>
