{% extends "budgetApp/layout.html" %} {% block body %}
<div id="mainContainer">
  <div class="row" id="main">
    <div class="col-2"></div>
    <div class="col-8">
      <h2>Accounts</h2>
      <a class="list-group-item list-group-item-action inbx-clck cstm-mrgn" href="{% url 'addAccount' %}">New Category</a>
      {% for account in accounts %}
      <div class="dropright">
        <a
          class="list-group-item list-group-item-action inbx-clck"
          href="#"
          id="dropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >{{ account.accountName  }} ( {{ account.description }} )</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{% url 'editAccount' account.id %}"
            >Edit
          </a>
          <a class="dropdown-item" href="#">Note</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Delete</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock %}
</div>
