{% extends "budgetApp/layout.html" %}
 
{% block body %}
<div id="mainContainer">
  <div id="main">
    <div class="contents">
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-3" style="max-width: 23%; margin-top: 3px">
          <a class="btn btn-outline-secondary" href="{% url 'categories' %}" role="button" ><i class="bi bi-box-arrow-in-left"></i> Back</a>
        </div>
        <div class="col">
          <h2>Add New Category</h2>
        </div>
      </div>
      <form action="{% url 'addCategory' %}" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group mb-3">
          <div class="form-floating">
            {% if nameError %}
            <input autofocus class="form-control is-invalid" type="text" name="name" value="{{ name }}" placeholder="name"/>
            {% else %}
            <input autofocus class="form-control" type="text" name="name" value="{{ name }}" placeholder="name"/>
            {% endif %}
            <label for="floatingInput">Name</label>
            <div class="invalid-feedback">
              {{ nameErrMes }}
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <div class="form-floating">
            {% if categoryError %}
            <select name="categoryList" class="form-select is-invalid" id="categoryList">
            {% else %}
            <select name="categoryList" class="form-select" id="categoryList">
            {% endif %}
              <option value=""></option>
              {% for category in categories %}
                {% if category.id == categoryVal %}
                <option value="{{ category.id }}" selected>{{ category.category }}</option>
                {% else %}
                <option value="{{ category.id }}">{{ category.category }}</option>
                {% endif %}
              {% endfor %}
            </select>  
            <label for="floatingSelect">Category</label>
            <div class="invalid-feedback">
              {{ categoryErrMes }}
            </div>
          </div>
        </div>
        <div class="button-container">
          <button class="btn btn-primary" type="submit" value="Save" style="width: 150px" ><i class="bi bi-save"></i> Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
