{% extends "budgetApp/layout.html" %} {% block body %}
<div id="mainContainer">
  <div id="main">
    <div class="contents">
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-3" style="max-width: 23%; margin-top: 3px">
          <a class="btn btn-outline-success" href="{% url 'accounts' %}" role="button" ><i class="bi bi-box-arrow-in-left"></i> Back</a>
        </div>
        <div class="col">
          <h2 class="title">Edit Account</h2>
        </div>
      </div>
      <form action="{% url 'editAccount' id %}" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group mb-3">
          <div class="form-floating">
            {% if accountNameError %}
            <input class="form-control is-invalid" autofocus type="text" name="accountName" placeholder="account name" value="{{ accountName }}">
            {% else %}
            <input class="form-control" autofocus type="text" name="accountName" placeholder="account name" value="{{ accountName }}">
            {% endif %}
            <label for="floatingInput">Account name</label>
            <div class="invalid-feedback">
              {{ accountNameErrMes }}
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <div class="form-floating">
            {% if descriptionError %}
            <input class="form-control is-invalid" autofocus type="text" name="description" placeholder="description" value="{{ description }}">
            {% else %}
            <input class="form-control" autofocus type="text" name="description" placeholder="description" value="{{ description }}">
            {% endif %}
            <label for="floatingInput">Description</label>
            <div class="invalid-feedback">
              {{ descriptionErrMes }}
            </div>
          </div>
        </div>
        <div class="button-container">
          <button class="btn btn-success" type="submit" value="Save" style="width: 150px" ><i class="bi bi-save"></i> Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
