{% extends "budgetApp/layout.html" %}

{% block body %}
    <div id="mainContainer">
      <div id="main">
        <div class="contents">
          <div class="row">
            <div class="col">
              <a class="btn btn-outline-success" id="backAdd" role="button" style="position: absolute; margin-top: 6px"><i class="bi bi-box-arrow-in-left"></i> Back</a>
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                {% if do != 'transfer' %}
                  {% if do == 'credit'%}
                  <li class="nav-item">
                    <a class="nav-link active" id="pills-credit-tab" data-toggle="pill" href="#pills-credit" role="tab" aria-controls="pills-credit" aria-selected="true">Expenses</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" id="pills-credit-tab" data-toggle="pill" href="#pills-credit" role="tab" aria-controls="pills-credit" aria-selected="false">Expenses</a>
                  </li>
                  {% endif %}
                  {% if do == 'debit'%}
                  <li class="nav-item">
                    <a class="nav-link active" id="pills-debit-tab" data-toggle="pill" href="#pills-debit" role="tab" aria-controls="pills-debit" aria-selected="true">Income</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" id="pills-debit-tab" data-toggle="pill" href="#pills-debit" role="tab" aria-controls="pills-debit" aria-selected="false">Income</a>
                  </li>
                  {% endif %}
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link active" id="pills-transfer-tab" data-toggle="pill" href="#pills-transfer" role="tab" aria-controls="pills-transfer" aria-selected="true" >Transfer</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="tab-content" id="pills-tabContent">
            {% if do == 'credit'%}
            <div class="tab-pane show active" id="pills-credit" role="tabpanel" aria-labelledby="pills-credit-tab">
            {% else %}
            <div class="tab-pane" id="pills-credit" role="tabpanel" aria-labelledby="pills-credit-tab">
            {% endif %}
            <!-- Credit section -->
                  <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-currency-yen"></i></span>
                      <div class="form-floating" id="amount-div">
                          <input autofocus class="form-control" type="number" name="amount" placeholder="¥" value="{{ transaction.amount }}" id="amount-credit">
                          <label for="floatingInput">Amount</label>
                      </div>
                      <div class="invalid-feedback" id="invalid-amount">
                      </div>
                  </div>
                  <div class="form-group mb-3">
                      <div class="form-floating">
                          <input autofocus class="form-control" type="text" name="descriptions" placeholder="" value="{{ transaction.descriptionTransaction }}" id="des-credit">
                          <label for="floatingInput">Description</label>
                          <div class="invalid-feedback" id="invalid-des">
                          </div>
                      </div>
                  </div>
                  <div class="form-group mb-3">
                      <div class="form-floating">
                        <select name="category" class="form-select" id="category" >
                          <option value=""></option>
                          {% for category in categories %}
                            {% if category.id == transaction.categoryTransaction.id %}
                              <option value="{{ category.id }}" selected>{{ category.category }}</option>
                            {% else %}
                              <option value="{{ category.id }}">{{ category.category }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <label for="floatingSelect">Category</label>
                        <div class="invalid-feedback" id="invalid-cat-credit">
                        </div>
                      </div>
                  </div>
                  <div class="form-group mb-3">
                      <div class="form-floating">
                        <select name="subCategory" class="form-select" id="subCategory" hidden="hidden">
                          <option value=""></option>
                          {% for subCategory in subCategories %}
                            {% if subCategory.id == transaction.subCategoryTransaction.id %}
                              <option value="{{ subCategory.parentCategory.id }}-{{ subCategory.id }}" selected>{{ subCategory.subCategory }}</option>
                            {% else %}
                              <option value="{{ subCategory.parentCategory.id }}-{{ subCategory.id }}">{{ subCategory.subCategory }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <label for="floatingSelect" id="label-sub" hidden>Subcategory</label>
                        <div class="invalid-feedback" id="invalid-sub-credit">
                        </div>
                      </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 input-group">
                      <div class="form-floating" id="datePicker" data-target-input="nearest">
                        <input type="text" name="transactionDate" class="form-control form-control-sm datetimepicker-input" data-target="#datePicker" onkeydown="return false" value="{{ transationDate }}" id="date-credit"/>
                        <label for="floatingInput">Date</label>
                      </div>
                      <div class="input-group-append" data-target="#datePicker" data-toggle="datetimepicker">
                        <div class="input-group-text" style="padding-left:14px;"><i class="fa fa-calendar"></i></div>
                      </div>
                    </div>
                    <div class="col-sm-6  input-group">
                      <div class="form-floating" id="timePicker" data-target-input="nearest">
                        <input type="text" name="transactionTime" class="form-control form-control-sm datetimepicker-input" data-target="#timePicker" onkeydown="return false" value="{{ transationTime }}" id="time-credit"/>
                        <label for="floatingInput">Time</label>
                      </div>
                      <div class="input-group-append" data-target="#timePicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                      <div class="form-floating">
                        <select name="accountName" class="form-select" id="accountName-credit">
                          {% for account in accounts %}
                            {% if account.id == transaction.accountNameTransaction.id %}
                              <option value="{{ account.id }}" selected>{{ account.accountName }}</option>
                            {% else %}
                              <option value="{{ account.id }}">{{ account.accountName }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <label for="floatingSelect" >Account</label>
                        <div class="invalid-feedback" id="invalid-account">
                        </div>
                      </div>
                  </div>
              </div>
            {% if do == 'debit'%}
            <div class="tab-pane show active" id="pills-debit" role="tabpanel" aria-labelledby="pills-debit-tab">
            {% else %}
            <div class="tab-pane" id="pills-debit" role="tabpanel" aria-labelledby="pills-debit-tab">
            {% endif %}
            <!-- Debit section -->
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="bi bi-currency-yen"></i></span>
                  <div class="form-floating" id="amount-div-debit">
                      <input autofocus class="form-control" type="number" name="amount" placeholder="¥" value="{{ transaction.amount }}" id="amount-debit">
                      <label for="floatingInput">Amount</label>
                  </div>
                  <div class="invalid-feedback" id="invalid-amount-debit">
                  </div>
                </div>
                <div class="form-group mb-3">
                    <div class="form-floating">
                        <input autofocus class="form-control" type="text" name="descriptions" placeholder="" value="{{ transaction.descriptionTransaction }}" id="des-debit">
                        <label for="floatingInput">Description</label>
                        <div class="invalid-feedback" id="invalid-des-debit">
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                  <div class="form-floating">
                      <select name="category-debit" class="form-select" id="category-debit" >
                        <option value=""></option>
                        {% for category in categories %}
                          {% if category.id == transaction.categoryTransaction.id %}
                            <option value="{{ category.id }}" selected>{{ category.category }}</option>
                          {% else %}
                            <option value="{{ category.id }}">{{ category.category }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      <label for="floatingSelect">Category</label>
                      <div class="invalid-feedback" id="invalid-cat-debit">
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <div class="form-floating">
                      <select name="subCategory-debit" class="form-select" id="subCategory-debit" hidden="hidden">
                        <option value=""></option>
                        {% for subCategory in subCategories %}
                          {% if subCategory.id == transaction.subCategoryTransaction.id %}
                            <option value="{{ subCategory.parentCategory.id }}-{{ subCategory.id }}" selected>{{ subCategory.subCategory }}</option>
                          {% else %}
                            <option value="{{ subCategory.parentCategory.id }}-{{ subCategory.id }}">{{ subCategory.subCategory }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      <label for="floatingSelect" id="label-sub-debit" hidden>Subcategory</label>
                      <div class="invalid-feedback" id="invalid-sub-debit">
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 input-group">
                      <div class="form-floating" id="datePicker-debit" data-target-input="nearest">
                        <input type="text" name="transactionDate" class="form-control form-control-sm datetimepicker-input" data-target="#datePicker-debit" onkeydown="return false" value="{{ transationDate }}" id="date-debit"/>
                        <label for="floatingInput">Date</label>    
                      </div>                        
                      <div class="input-group-append" data-target="#datePicker-debit" data-toggle="datetimepicker">
                        <div class="input-group-text" style="padding-left:14px;"><i class="fa fa-calendar"></i></div>
                      </div>
                    </div>
                    <div class="col-sm-6 input-group">
                        <div class="form-floating" id="timePicker-debit" data-target-input="nearest">
                          <input type="text" name="transactionTime" class="form-control form-control-sm datetimepicker-input" data-target="#timePicker-debit" onkeydown="return false"  value="{{ transationTime }}" id="time-debit"/>
                          <label for="floatingInput">Time</label>    
                        </div>
                        <div class="input-group-append" data-target="#timePicker-debit" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-clock"></i></div>
                        </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <div class="form-floating">
                        <select name="accountName" class="form-select" id="accountName-debit">
                        {% for account in accounts %}
                          {% if account.id == transaction.accountNameTransaction.id %}
                            <option value="{{ account.id }}" selected>{{ account.accountName }}</option>
                          {% else %}
                            <option value="{{ account.id }}">{{ account.accountName }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      <label for="floatingSelect">Account</label>
                      <div class="invalid-feedback" id="invalid-account-debit">
                      </div>
                  </div>
                </div>
            </div>
            {% if do == 'transfer'%}
            <div class="tab-pane show active" id="pills-transfer" role="tabpanel" aria-labelledby="pills-transfer-tab">
            {% else %}
            <div class="tab-pane" id="pills-transfer" role="tabpanel" aria-labelledby="pills-transfer-tab">
            {% endif %}
            <!-- Transfer section -->
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="bi bi-currency-yen"></i></span>
                  <div class="form-floating" id="amount-div-transfer">
                    <input autofocus class="form-control" type="number" name="amount" placeholder="¥" value="{{ transaction.amount }}" id="amount-transfer">
                    <label for="floatingInput">Amount</label>
                  </div>
                  <div class="invalid-feedback" id="invalid-amount-transfer">
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="form-floating">
                    <input autofocus class="form-control" type="text" name="descriptions" placeholder="" value="{{ transaction.descriptionTransaction }}" id="des-transfer">
                    <label for="floatingInput">Description</label>
                    <div class="invalid-feedback" id="invalid-des-transfer">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 input-group">
                    <div class="form-floating" id="datePicker-transfer" data-target-input="nearest">
                      <input type="text" name="transactionDate" class="form-control form-control-sm datetimepicker-input" data-target="#datePicker-transfer" onkeydown="return false" value="{{ transationDate }}" id="date-transfer"/>
                      <label for="floatingInput">Date</label>
                    </div>
                      <div class="input-group-append" data-target="#datePicker-transfer" data-toggle="datetimepicker">
                        <div class="input-group-text" style="padding-left:14px;"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
                  <div class="col-sm-6 input-group">
                    <div class="form-floating" id="timePicker-transfer" data-target-input="nearest">
                      <input type="text" name="transactionTime" class="form-control form-control-sm datetimepicker-input" data-target="#timePicker-transfer" onkeydown="return false"  value="{{ transationTime }}" id="time-transfer"/>
                      <label for="floatingInput">Time</label>
                    </div>
                    <div class="input-group-append" data-target="#timePicker-transfer" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-clock"></i></div>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="form-floating">
                    <select name="accountNameFrom" class="form-select" id="accountNameFrom">
                      {% for account in accounts %}
                        {% if account.id == transaction.accountNameTransferFrom.id %}
                          <option value="{{ account.id }}" selected>{{ account.accountName }}</option>
                        {% else %}
                          <option value="{{ account.id }}">{{ account.accountName }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <label for="floatingSelect">From</label>
                    <div class="invalid-feedback" id="invalid-account-transfer-from">
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="form-floating">
                    <select name="accountNameTo" class="form-select" id="accountNameTo">
                      {% for account in accounts %}
                        {% if account.id == transaction.accountNameTransferTo.id %}
                          <option value="{{ account.id }}" selected>{{ account.accountName }}</option>
                        {% else %}
                          <option value=""></option>
                          <option value="{{ account.id }}">{{ account.accountName }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <label for="floatingSelect">To</label>
                    <div class="invalid-feedback" id="invalid-account-transfer-to">
                    </div>
                  </div>
                </div>
            </div>
            <div class="button-container">
              <button class="btn btn-success" style="width: 150px" type="submit" value="Save" onclick="editSubmit()"><i class="bi bi-save"></i> Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script type="text/javascript">
    $(function () {
        $('#datePicker').datetimepicker({locale: 'ja', dayViewHeaderFormat: 'YYYY年M月' ,format: 'YYYY/MM/DD'});
        $('#timePicker').datetimepicker({locale: 'ja', format: 'HH:mm'});
        $('#datePicker-debit').datetimepicker({locale: 'ja', dayViewHeaderFormat: 'YYYY年M月' ,format: 'YYYY/MM/DD'});
        $('#timePicker-debit').datetimepicker({locale: 'ja', format: 'HH:mm'});
        $('#datePicker-transfer').datetimepicker({locale: 'ja', dayViewHeaderFormat: 'YYYY年M月' ,format: 'YYYY/MM/DD'});
        $('#timePicker-transfer').datetimepicker({locale: 'ja', format: 'HH:mm'});
    });
</script>
{% endblock %}