{% extends "budgetApp/layout.html" %} {% block body %}
<div id="mainContainer">
  <div id="main">
    <div class="contents">
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-3" style="max-width: 100%; margin-top: 3px">
          <a class="btn btn-outline-success" href="{% url 'categories' %}" role="button" ><i class="bi bi-box-arrow-in-left"></i> Back</a>
        </div>
        <div class="col">
          <h2 class="title">Edit Category</h2>
        </div>
      </div>
      {% if class == 'category' %}
        <form action="{% url 'editCategory' id %}" method="post">
          {% csrf_token %}
          <div class="form-group mb-3">
            <div class="form-floating">
              {% if nameError %}
              <input autofocus class="form-control is-invalid" type="text" name="name" value="{{ name }}" placeholder="name"/>
              {% else %}
              <input autofocus class="form-control" type="text" name="name" value="{{ name }}" placeholder="name"/>
              {% endif %}
              <label for="floatingInput">Category Name</label>
              <div class="invalid-feedback">
                {{ nameErrMes }}
              </div>
            </div>
          </div>
        {% elif class == 'subCategory' %}
          <form action="{% url 'editSubCategory' id %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
              <div class="form-floating">
                {% if nameError %}
                <input autofocus class="form-control is-invalid" type="text" name="name" value="{{ name }}" placeholder="name"/>
                {% else %}
                <input autofocus class="form-control" type="text" name="name" value="{{ name }}" placeholder="name"/>
                {% endif %}
                <label for="floatingInput">Subcategory Name</label>
                <div class="invalid-feedback">
                  {{ nameErrMes }}
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="form-floating">
                {% if categoryError %}
                <select name="categoryList" class="form-select is-invalid" id="categoryList">
                {% else %}
                <select name="categoryList" class="form-select" id="categoryList">
                {% endif %}
                  <option value=""></option>
                  {% for category in categories %}
                    {% if category.id == parentCategory %}
                    <option value="{{ category.id }}" selected>{{ category.category }}</option>
                    {% else %}
                    <option value="{{ category.id }}">{{ category.category }}</option>
                    {% endif %}
                  {% endfor %}
                </select>  
                <label for="floatingSelect">Category</label>
                <div class="invalid-feedback">
                  {{ categoryErrMes }}
                </div>
              </div>
            </div>
        {% endif %}
        <div class="button-container">
          <button class="btn btn-success" type="submit" value="Save" style="width: 150px" ><i class="bi bi-save"></i> Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
