{% extends "budgetApp/layout.html" %}

{% block body %}
    <div id="mainContainer">
        <div id="main">
            <div class="contents">
              <div style="margin-bottom: 37px;">
                <div class="row">
                  <div class="col" style="padding-top: 15px">
                    <h2 class="title">Accounts</h2>
                  </div>
                  <div class="col-2 fs-3" style="text-align: right;">
                    <a class="nav-link" href="{% url 'addTransaction' '0' %}" id="index" onclick="edit('index')">
                    <i class="bi bi-plus-circle-fill" style="color: #218838"></i></a>
                  </div>
                </div>
              </div>
              {% if noOfAccounts == 0 %}
              <div>
                <a
                  class="list-group-item list-group-item-action inbx-clck fs-2 position-relative"
                  href="{% url 'addAccount' %}"
                  ><div class="row">
                      <div class="col" style="position: center">
                        <i class="bi bi-bank"></i>
                        Create an Account
                      </div>
                    </div>
                </a>
              </div>
              {% endif %}
              {% if isManyAccount %}
              <div>
                <a
                  class="list-group-item list-group-item-action inbx-clck fs-2 position-relative"
                  href="{% url 'display' 0 %}"
                  ><div class="row">
                      <div class="col">
                        <i class="bi bi-credit-card"></i>
                        All Accounts
                      </div>
                      <div class="col" style="text-align: right;">
                        <i class="bi bi-currency-yen"></i>{{ balance }}
                      </div>  
                    </div>
                    {% if unread > 0 %}
                      <span class="position-absolute top-0 start-100 translate-middle p-2 badge rounded-pill bg-danger">
                      </span>
                    {% endif %}
                </a>
              </div>
              {% endif %}
              {% for account in accounts %}
              <div>
                <a
                  class="list-group-item list-group-item-action inbx-clck fs-2"
                  href="{% url 'display' account.id %}"
                  ><div class="row">
                      <div class="col">
                        <i class="bi bi-credit-card"></i>
                        {{ account.accountName }}
                      </div>
                      <div class="col" style="text-align: right;">
                        <i class="bi bi-currency-yen"></i>{{ account.balance }}
                      </div>  
                    </div>
                    {% if account.read == False %}
                      <span class="position-absolute top-0 start-100 translate-middle p-2 badge rounded-pill bg-danger">
                      </span>
                    {% endif %}
                </a>
              </div>
              {% endfor %}
              <div>
                <a
                  class="list-group-item list-group-item-action inbx-clck fs-2"
                  href="{% url 'budget' %}"
                  >
                  <i class="bi bi-cash-coin"></i>
                  Budgets</a
                >
              </div>
              <div>
                <a
                  class="list-group-item list-group-item-action inbx-clck fs-2"
                  href="{% url 'schedule' %}"
                  >
                  <i class="bi bi-clock"></i>
                  Schedule</a
                >
              </div>
              <div>
                <a
                  class="list-group-item list-group-item-action inbx-clck fs-2"
                  href="{% url 'report' %}"
                  >
                  <i class="bi bi-graph-up-arrow"></i>
                  Reports</a
                >
              </div>
              <div>
                <a
                  class="list-group-item list-group-item-action inbx-clck fs-2"
                  href="{% url 'settings' %}"
                  >
                  <i class="bi bi-gear-wide-connected"></i>
                  Settings</a
                >
              </div>
            </div>
        </div>
    </div>
{% endblock %}