{% extends "budgetApp/layout.html" %}
{% load static %}
{% block login %}
        <div class="col-4" id="login">
            <div id="logo">
                <img src="{% static 'budgetApp/logo.png' %}?v={{ STATIC_VERSION }}" alt="budget tracker">
            </div>
            <div style="text-align:center;margin-top:60px;margin-bottom:20px;">
                <h2 class="title">SpendWise</h2>
            </div>
            <form action="{% url 'login' %}" method="post" id="login-form">
                {% csrf_token %}
                <div class="input-group mb-3 ">
                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                    {% if message|length > 0 %}
                    <div class="form-floating is-invalid">
                        <input autofocus class="form-control is-invalid" type="text" name="username" placeholder="Username">
                        {% else %}
                    <div class="form-floating ">
                        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                        {% endif %}
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="invalid-feedback" id="invalid-username">
                        {{ message }}
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
                    <div class="form-floating">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                        <label for="floatingInput">Password</label>
                        <div class="invalid-feedback" id="invalid-username">
                        </div>
                    </div>
                </div>
                <div style="text-align:right;color: #218838">
                    Don't have an account? <a href="{% url 'register' %}" class="link">Register here.</a>
                </div>
                <div style="text-align:center;margin-top:20px;">
                    <button class="btn btn-success" style="width: 100%;" type="submit" >Login</button>
                </div>
            </form>
        </div>
        
    <div class="footer"><p>Created and developed by <a href="https://kylepauloguinto.github.io/portfolio/" target="_blank" class="footer creator">Kyle Guinto</a></p></div>
{% endblock %}