{% extends "budgetApp/layout.html" %}

{% block login %}
        <div class="col-4" id="login">
            <div id="logo">
                <img src="/static/budgetApp/logo.png" alt="budget tracker">
            </div>
            <div style="text-align:center;margin-top:60px;margin-bottom:20px;">
                <h2 class="title">SpendWise</h2>
            </div>
            <h2 class="title">Register</h2>
            
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <div>※　{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3 ">
                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                    <div class="form-floating ">
                        <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                        <label for="floatingInput">Username</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
                    <div class="form-floating">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                        <label for="floatingInput">Password</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
                    <div class="form-floating">
                        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                        <label for="floatingInput">Confirm Password</label>
                    </div>
                </div>
                <div style="text-align:right;color: #218838">
                    Already have an account? <a href="{% url 'login' %}" class="link">Log In here.</a>
                </div>
                <div style="text-align:center;margin-top:20px;">
                    <button class="btn btn-success" style="width: 100%;" type="submit" >Register</button>
                </div>
            </form>
        
        </div>
{% endblock %}