{% extends "budgetApp/layout.html" %} {% block body %}
<div id="mainContainer">
  <div id="main">
      <div class="contents">
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-3" style="max-width: 23%; margin-top: 3px">
          <a class="btn btn-outline-success" href="{% url 'index' %}" role="button" ><i class="bi bi-box-arrow-in-left"></i> Back</a>
        </div>
        <div class="col-9">
          <h2 class="title">Reports</h2>
        </div>
      </div>
      <div>
        <a
          class="list-group-item list-group-item-action inbx-clck fs-2"
          href="{% url 'expensesIncome' %}"
          ><i class="bi bi-bar-chart-line-fill"></i>
          Expenses and Income</a
        >
      </div>
      <div>
        <a
          class="list-group-item list-group-item-action inbx-clck fs-2"
          href="{% url 'predictions' %}"
          ><i class="bi bi-graph-up-arrow"></i>
          Predictions</a
        >
      </div>
    </div>
  </div>

  {% endblock %}
</div>
