{% extends "budgetApp/layout.html" %} {% block body %}
<div id="mainContainer">
  <div id="main">
      <div class="contents">
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-3" style="max-width: 23%; margin-top: 3px">
          <a class="btn btn-outline-secondary" href="{% url 'index' %}" role="button" ><i class="bi bi-box-arrow-in-left"></i> Back</a>
        </div>
        <div class="col-9">
          <h2>Settings</h2>
        </div>
      </div>
      <div>
        <a
          class="list-group-item list-group-item-action inbx-clck fs-2"
          href="{% url 'accounts' %}"
          ><i class="bi bi-bank"></i>
          Accounts</a
        >
      </div>
      <div>
        <a
          class="list-group-item list-group-item-action inbx-clck fs-2"
          href="{% url 'categories' %}"
          ><i class="bi bi-folder"></i>
          Categories</a
        >
      </div>
      <div>
        <a
          class="list-group-item list-group-item-action inbx-clck fs-2"
          href="{% url 'logout' %}"
          ><i class="bi bi-arrow-bar-left"></i>
          Log Out</a
        >
      </div>
    </div>
  </div>

  {% endblock %}
</div>
